@media (max-width:960px) {

#container{
    width: 80%;
    color: white;
    padding: 20px;
    position: absolute;
    transform: translate(5%,0%);
    top: 5%;
    left:0%;
    border-radius: 20px;
    filter: drop-shadow(3px 3px 6px rgb(126, 126, 159));
    text-align: center;
    padding-bottom: 70px;
    
}
h1{
    padding-top: 30px;
}
}